.margin-class {
    top: 100px;
    margin-bottom: 200px;
    .classes-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 90%;
      
        .classes-element {
            border-radius: 50px;
            height: 450px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            div {
                position: absolute;
                bottom: 53%;
                transform: rotate(30deg);
                left: -90px;
                height: 70px;
                width: 200px;
                background: #fff;
                opacity: 0.3;
                border-radius: 40px;
                z-index: 0;
                transition: all 0.3s;
            }

            .sport-icon {
                position: absolute;
                bottom: 50%;
                left: 30px;
                height: 40px;
            }

            
            &:nth-child(1) {
                grid-column: span 1; 
            }
            &:last-child {
                grid-column-end: span 1;
            }

            &:hover {
                .sport-img {
                    transform: scale(1);
                }
            }
        }
    }
}


@media (max-width: 1250px){
    .margin-class {
        .classes-grid-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 600px) {
    .margin-class {
        .classes-grid-container {
            grid-template-columns: 1fr;
        }
    }
}